<%- include('partials/header') %>

<nav class="navbar navbar-expand-lg bg-black">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-3" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Escudo_UD.svg/2118px-Escudo_UD.svg.png"
          alt="Logo"
          width="70"
          height="70"
          class="d-inline-block align-text-top mx-3"
          style="filter: invert(100%)"
        />
        <li class="nav-item mx-2"></li>
        <button
          class="btn btn-dark my-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#calendario"
          aria-expanded="false"
          aria-controls="collapseExample"
          id="btn-calendario"
          disabled
        >
          Calendario
        </button>
        <li class="nav-item mx-2"></li>
        <button
          class="btn btn-dark my-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#seleccion"
          aria-expanded="false"
          aria-controls="collapseExample"
          id="btn-seleccion"
          disabled
        >
          Selección
        </button>
        <li class="nav-item mx-2"></li>
        <button
          class="btn btn-dark my-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#asistencia"
          aria-expanded="false"
          aria-controls="collapseExample"
          id="btn-asistencia"
          disabled
        >
          Asistencia
        </button>

        <li class="nav-item mx-2"></li>
        <button
          class="btn btn-dark my-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#liquidacion"
          aria-expanded="false"
          aria-controls="collapseExample"
          id="btn-liquidacion"
          disabled
        >
          Liquidación
        </button>
      </ul>
      <span class="navbar-text text-light">
        <ul class="mb-1">
          <li class="nav-item" style="list-style-type: none">
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item mx-2">
                <input
                  type="date"
                  class="form-control"
                  id="input-fecha"
                  value="2023-05-31"
                />
              </li>
              <li class="nav-item mx-2">
                <input
                  type="time"
                  class="form-control"
                  id="input-hora"
                  value="00:00"
                />
              </li>
              <li class="nav-item mx-2">
                <button class="btn btn-dark" id="btn-fecha">Cambiar</button>
              </li>
            </ul>
          </li>
          <li class="text-center" style="list-style-type: none">
            <p class="lead" id="hora" style="margin-bottom: 0px"><%=nombre%></p>
          </li>
        </ul>
      </span>
    </div>
  </div>
</nav>

<!-- Contenido -->
<div class="row align-items-center text-center">
  <div class="col"></div>
  <div class="col-10">
    <h1 class="my-3">Panel de administración</h1>

    <!-- Pestaña de calendario -->
    <div class="collapse my-3" id="calendario">
      <div class="card card-body text-center" id="calenadio-body">
        <h2>Calendario</h2>
        <div class="container text-center m-3">
          <div class="row">
            <div class="col-2">
              <select class="form-select" id="form-cal">
                <option value="1">Planeación</option>
                <option value="2">Convocatoria</option>
                <option value="3">Selección</option>
                <option value="4">Ensayo</option>
                <option value="5">Función</option>
              </select>
            </div>
            <div class="col">
              <input
                type="date"
                class="form-control"
                id="fecha-inicio"
                value="2023-05-31"
              />
            </div>
            <div class="col">
              <input
                type="time"
                class="form-control"
                id="hora-inicio"
                value="00:00"
              />
            </div>
            <div class="col-1">
              <button class="btn btn-dark" id="form-calendario">
                Insertar
              </button>
            </div>
            <div class="col-2">
              <button class="btn btn-dark" disabled>Crear Calendario</button>
            </div>
            <div class="col-3">
              <button class="btn btn-dark" id="btn-fin-cal">
                Terminar Calendario
              </button>
            </div>
          </div>
        </div>

        <div id="calendarios"></div>
      </div>
    </div>

    <!-- Pestaña candidatos -->
    <div class="collapse my-3" id="seleccion">
      <div class="card card-body text-center">
        <h2>Selección</h2>
        <hr />
        <div id="candidatos"></div>
        <div class="row">
          <div class="col">
            <button class="btn btn-dark" id="form-seleccion">
              Seleccionar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña asistencia -->
    <div class="collapse my-3" id="asistencia">
      <div class="card card-body">
        <h2 id="titulo-asistencia">Asistencia</h2>
        <div id="participantes"></div>
        <div class="row">
          <div class="col">
            <button class="btn btn-dark my-2" id="form-asistencia">
              Finalizar
            </button>
          </div>
          <div class="col">
            <button class="btn btn-dark my-2" id="form-llenar-asistencia">
              Llenar todo
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña liquidación -->
    <div class="collapse my-3" id="liquidacion">
      <div class="card card-body">
        <h2>Liquidación 2023-1</h2>

        <div class="text-center" id="electivas"></div>

        <hr />
        <div class="text-center" id="viaticos">
          <div class="row">
            <div class="col">
              <button class="btn btn-dark my-2" id="btn-electivas">
                Enviar correos
              </button>
            </div>
            <div class="col">
              <button class="btn btn-dark my-2" id="btn-viaticos">
                Descargar Viáticos
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

<script>
  // ---------- INICIO Y CALENDARIO ----------------
  // Activacion de menu 'Calendario'
  const activarCalendario = async () => {
    var resp = 0;
    await fetch("http://localhost:3000/calendario/esactivo/planeacion")
      .then((response) => (resp = response.json()))
      .then((resp) => {
        const btnCalendario = document.getElementById("form-calendario");
        const btnTerminar = document.getElementById("btn-fin-cal");
        document.getElementById("btn-calendario").removeAttribute("disabled");
        if (resp.val) {
          btnCalendario.setAttribute("disabled", null);
          btnTerminar.setAttribute("disabled", null);
        } else {
          console.log("Activar calendario");
          btnCalendario.removeAttribute("disabled");
        }
      });
  };

  // Traer lista de horarios
  const listaCal = () => {
    fetch("http://localhost:3000/calendario/retirarhoras")
      .then((response) => response.json())
      .then((response) => {
        const contenido = document.getElementById("calendarios");
        contenido.innerHTML = "";
        response.rows.forEach((element) => {
          let fechaInicio = dayjs(element[5] + " " + element[6]);
          let fechaFin = dayjs(element[7] + " " + element[8]);
          contenido.innerHTML += `
          <hr>
          <div class="container text-center m-3">
            <div class="row ">
              <div class="col-1">
                ${element[1]}
                </div>
                <div class="col-2">
                  ${element[2]}
                </div>
                <div class="col-2">
                  ${element[3]}
                </div>
                <div class="col-3">
                  ${fechaInicio.format("DD/MM/YYYY HH:mm")}
                </div>
                <div class="col-3">
                  ${fechaFin.format("DD/MM/YYYY HH:mm")}
                </div>
              </div>
          </div>
          `;
        });
      });
  };
  const btnCalendario = document.getElementById("btn-calendario");
  btnCalendario.addEventListener("click", (event) => {
    listaCal();
  });

  // Insertar horario
  const formCalendario = document.getElementById("form-calendario");
  formCalendario.addEventListener("click", async (event) => {
    let headersList = {
      Accept: "*/*",
      "Content-Type": "application/json",
    };

    let fechaInicio = dayjs(
      document.getElementById("fecha-inicio").value +
        " " +
        document.getElementById("hora-inicio").value
    );
    let idCal = document.getElementById("form-cal").value;
    const dias = [1, 7, 7, 0, 0];
    const horas = idCal < 4 ? 0 : 2;
    let fechaFin = fechaInicio.add(dias[idCal - 1], "day").add(horas, "hour");

    let bodyContent = JSON.stringify({
      calendario: idCal,
      fechaInicio: fechaInicio.format("DD/MM/YYYY HH"),
      fechaFin: fechaFin.format("DD/MM/YYYY HH"),
    });

    let response = await fetch(
      "http://localhost:3000/calendario/agregarcalendario",
      {
        method: "POST",
        body: bodyContent,
        headers: headersList,
      }
    )
      .then((response) => response.text())
      .then((res) => console.log("Peticion enviada"));
    listaCal();
  });

  // Cambiar hora
  localStorage.setItem("nombre", document.getElementById("hora").innerHTML);
  const bntFecha = document.getElementById("btn-fecha");
  bntFecha.addEventListener("click", async (event) => {
    let fecha = dayjs(
      document.getElementById("input-fecha").value +
        " " +
        document.getElementById("input-hora").value
    );
    localStorage.setItem("fecha", fecha);
    document.getElementById("hora").innerHTML =
      localStorage.getItem("nombre") + " | " + fecha.format("DD/MM/YYYY HH:mm");
    activarCalendario();
    let actividadActual = await dentroDeFecha();

    // Activacion de pestañas menos calendario
    if (actividadActual) {
      localStorage.setItem("actividadTipo", actividadActual[0]);
      localStorage.setItem("actividadId", actividadActual[1]);
      if (actividadActual[0] == 3) {
        document.getElementById("btn-seleccion").removeAttribute("disabled");
        document
          .getElementById("btn-asistencia")
          .setAttribute("disabled", null);
        document
          .getElementById("btn-liquidacion")
          .setAttribute("disabled", null);
      } else if (actividadActual[0] > 3) {
        document.getElementById("titulo-asistencia").innerHTML =
          "Asistencia: " + actividadActual[5];
        document.getElementById("btn-asistencia").removeAttribute("disabled");
        document.getElementById("btn-seleccion").setAttribute("disabled", null);
        document
          .getElementById("btn-liquidacion")
          .setAttribute("disabled", null);
      }
    } else {
      var b = false;
      await fetch("http://localhost:3000/calendario/ningunoactivo")
        .then((response) => response.json())
        .then((response) => (b = response));

      if (
        b &&
        document.getElementById("btn-fin-cal").hasAttribute("disabled")
      ) {
        document.getElementById("btn-liquidacion").removeAttribute("disabled");
        document.getElementById("btn-seleccion").setAttribute("disabled", null);
        document
          .getElementById("btn-asistencia")
          .setAttribute("disabled", null);
      }
    }
  });

  // Finalizar ciclo horario y convocatoria
  const inactivar = async (tipo, consec) => {
    let headersList = {
      Accept: "*/*",
      "Content-Type": "application/json",
    };
    let bodyContent = JSON.stringify({
      calendario: tipo,
      id: consec,
    });

    let response = await fetch("http://localhost:3000/calendario/inactivar", {
      method: "POST",
      body: bodyContent,
      headers: headersList,
    })
      .then((response) => response.text())
      .then((res) => console.log("Peticion enviada"));
  };
  const btnfinCal = document.getElementById("btn-fin-cal");
  btnfinCal.addEventListener("click", async (event) => {
    inactivar(1, 0);
    inactivar(2, 0);
    location.reload();
  });

  // Validar que la fecha ingresada este dentro de una fecha ya establecida
  const dentroDeFecha = async () => {
    const retorno = await fetch("http://localhost:3000/calendario/retirarhoras")
      .then((response) => response.json())
      .then((response) => {
        let fecha = dayjs(localStorage.getItem("fecha"));
        lista = response.rows.filter((element) => element[3] == "Activo");
        let ret = lista.find((element) => {
          // Comparar fechas
          let fechaInicio = dayjs(element[5] + " " + element[6]);
          let fechaFin = dayjs(element[7] + " " + element[8]);

          if (fechaInicio.isBefore(fecha) && fechaFin.isAfter(fecha)) {
            return true;
          }
        });
        return ret;
      });
    return retorno;
  };

  // --------------- SELECCIÓN ---------------------
  // Mostrar estudiantes
  const btnSeleccion = document.getElementById("btn-seleccion");
  btnSeleccion.addEventListener("click", async (event) => {
    fetch("http://localhost:3000/instrumento/")
      .then((response) => response.json())
      .then((response) => {
        const contenido = document.getElementById("candidatos");
        contenido.innerHTML = "";
        response.rows.forEach((element) => {
          contenido.innerHTML += `
          <div class="container text-center border border-2 rounded my-3 form-check" id="${element[0]}"></div>
          `;
          document.getElementById(element[0]).innerHTML = "";
        });
      });

    fetch("http://localhost:3000/estudiante/")
      .then((response) => response.json())
      .then((response) => {
        response.rows.forEach((element) => {
          const container = document.getElementById(element[5]);
          container.innerHTML += `
          <div class="row align-items-center p-2">
            <div class="col-1">
              <input class="form-check-input" type="radio" name="${
                element[5]
              }" value="${element[0]}">  
            </div>
            <div class="col-2">
              ${element[0]}
            </div>
            <div class="col-2">
              ${element[1] + " " + element[2]}
            </div>
            <div class="col-4">
              ${element[4] + " - " + element[3]}
            </div>
            <div class="col-2">
              ${element[5]}
            </div>
            <div class="col-1">
              ${element[6]}
            </div>
          </div>
          `;
        });
      });
  });

  // Seleccionar estudiantes
  const btnFromSeleccion = document.getElementById("form-seleccion");
  btnFromSeleccion.addEventListener("click", async (event) => {
    const radios = [];
    radios[0] = document.querySelectorAll('input[name="Clarinete"]');
    radios[1] = document.querySelectorAll('input[name="Flauta"]');
    radios[2] = document.querySelectorAll('input[name="Timbal"]');
    radios[3] = document.querySelectorAll('input[name="Trombon"]');
    radios[4] = document.querySelectorAll('input[name="Violin"]');
    let listaActivacion = [];
    let listaCodigos = [];

    let contador = 0;
    radios.forEach((grupo) => {
      grupo.forEach((radio) => {
        if (radio.checked) {
          listaActivacion[contador] = true;
          listaCodigos[contador] = radio.value;
        }
      });
      contador++;
    });

    if (listaActivacion.filter((element) => element == true).length == 5) {
      // Añadir estudiantes
      await listaCodigos.forEach(async (codigo) => {
        let headersList = {
          Accept: "*/*",
          "Content-Type": "application/json",
        };

        let bodyContent = JSON.stringify({
          cod: codigo,
          cal: localStorage.getItem("actividadId"),
        });

        console.log(bodyContent);

        let response = await fetch("http://localhost:3000/estudiante/agregar", {
          method: "POST",
          body: bodyContent,
          headers: headersList,
        })
          .then((response) => response.text())
          .then((res) => console.log("Peticion enviada"));
      });

      inactivar(3, 0);
      location.reload();
    }
  });

  // --------------- ASISTENCIA ---------------------
  // Mostrar estudiantes
  const btnAsistencia = document.getElementById("btn-asistencia");
  btnAsistencia.addEventListener("click", async () => {
    await fetch("http://localhost:3000/estudiante/participantes")
      .then((response) => response.json())
      .then((response) => {
        const container = document.getElementById("participantes");
        container.innerHTML = "";
        response.rows.forEach((element) => {
          container.innerHTML += `
          <div class="row align-items-center px-5 mx-5 my-3">
            <div class="col-3"></div>
            <div class="col-1">
              <input class="form-check-input" type="checkbox" name="asis" value="${
                element[0]
              }"> 
            </div>
            <div class="col-2">
              ${element[0]}
            </div>
            <div class="col-3">
              ${element[1] + " " + element[2]}
            </div>
            <div class="col-3"></div>
          </div>
          `;
        });
      });
  });

  // Tomar asistencia
  const btnFormAsistencia = document.getElementById("form-asistencia");
  btnFormAsistencia.addEventListener("click", async (event) => {
    const boxs = document.querySelectorAll('input[name="asis"]');
    boxs.forEach(async (box) => {
      if (box.checked) {
        let headersList = {
          Accept: "*/*",
          "Content-Type": "application/json",
        };

        let bodyContent = JSON.stringify({
          cod: box.value,
          cal: localStorage.getItem("actividadId"),
          tipo: localStorage.getItem("actividadTipo"),
        });

        console.log(bodyContent);

        let response = await fetch(
          "http://localhost:3000/estudiante/asistencia",
          {
            method: "POST",
            body: bodyContent,
            headers: headersList,
          }
        )
          .then((response) => response.text())
          .then((res) => console.log("Peticion enviada"));
      }
    });

    inactivar(
      localStorage.getItem("actividadTipo"),
      localStorage.getItem("actividadId")
    );
    location.reload();
  });

  // Llenar todo
  const btnLlenarAsistencia = document.getElementById("form-llenar-asistencia");
  btnLlenarAsistencia.addEventListener("click", async (event) => {
    await fetch("http://localhost:3000/estudiante/llenado")
      .then((response) => response.text())
      .then((response) => console.log(response));
    location.reload();
  });

  // ------------- Liquidaciín ----------------
  // Traer estudiantes con electivas validas
  const btnLiquidacion = document.getElementById("btn-liquidacion");
  btnLiquidacion.addEventListener("click", async (event) => {
    await fetch("http://localhost:3000/estudiante/electiva")
      .then((response) => response.json())
      .then((response) => {
        const container = document.getElementById("electivas");
        container.innerHTML = "";
        container.innerHTML += `
          <div class="row align-items-center p-2">
            <div class="col-2">
              <b>Código</b>
            </div>
            <div class="col-3">
              <b>Nombre</b> 
            </div>
            <div class="col-4">
              <b>Email</b>
            </div>
            <div class="col-2">
              <b>Unidad</b>
            </div>
            <div class="col-1">
              <b>Horas</b>
            </div>
          </div>
          `;
        response.rows.forEach((row) => {
          container.innerHTML += `
          <div class="row align-items-center p-2">
            <div class="col-2">
              ${row[0]}
            </div>
            <div class="col-3">
              ${row[1] + " " + row[2]}
            </div>
            <div class="col-4">
              ${row[3]}
            </div>
            <div class="col-2">
              ${row[4]}
            </div>
            <div class="col-1">
              ${row[5] + " HH"}
            </div>
          </div>
          `;
        });
      });
  });

  // Enviar correos
  const btnElectiva = document.getElementById('btn-electivas')
  btnElectiva.addEventListener('click', (event) => {
    
  })

  // Generar PDF
  const btnViaticos = document.getElementById("btn-viaticos");
  btnViaticos.addEventListener("click", async () => {
    let date = dayjs(localStorage.getItem('fecha'))
    let html = `
    <html>
    <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    </head>
    <body>
      <div class="row align-items-center text-center my-5 mx-5 border border-2 py-3">
          <div class="col">
            <h2 class="m-2">Viáticos 2023-1</h2>
            <p> Reporte de viáticos correspondiente al semestre academico 2023-1 </p>
            <hr>
            ${document.getElementById("electivas").innerHTML}
            <hr>
            <p> Fecha y hora de expedición: ${date.format('DD/MM/YYYY HH:mm')} </p>
          </div>
      </div>
    </body>
    </html>
    `;

    fetch("http://localhost:3000/pdf", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ html: html }),
      responseType: "arraybuffer",
    })
      .then((response) => response.blob())
      .then((blob) => {
        const url = window.URL.createObjectURL(blob);
        const link = document.createElement("a");
        link.href = url;
        link.setAttribute("download", "archivo.pdf");
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      })
      .catch((error) => {
        console.error("Error al obtener el PDF:", error);
      });
  });

</script>

<%- include('partials/endHeader') %>
